#mainflash { position: relative; z-index: 0; width: 950px; height: 230px; background-color: rgb(178, 230, 254); }
body { font-family: Arial, Helvetica, sans-serif; font-size: 11px; margin: 0px; padding: 0px; }
a { color: rgb(0, 91, 166); text-decoration: underline; }
a:hover { text-decoration: none; }
#ul_grp { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(252, 255, 209); font-weight: normal; line-height: normal; list-style-type: none; margin: 0px; padding: 0px 5px 0px 12px; }
#ul_grp li { padding-top: 3px; padding-left: 1px; text-decoration: none; }
#ul_grp li a { color: rgb(255, 255, 255); text-decoration: none; }
#sgrp_list { width: 100%; }
#sgrp_list ul { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: normal; list-style-type: none; margin: 0px; padding: 0px; }
#sgrp_list ul li { padding-bottom: 4px; text-decoration: underline; }
#sgrp_list a { color: rgb(0, 91, 166); text-decoration: underline; }
td { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
th { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(255, 255, 255); font-weight: bold; line-height: 15px; }
.text { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; }
a.text:link, a.text:visited, a.text:active { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding-top: 7px; text-decoration: none; }
a.text:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding-top: 7px; text-decoration: underline; }
.bodystyle { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(102, 102, 102); font-weight: normal; }
a.bodystyle:link, a.bodystyle:visited, a.bodystyle:active { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 0, 0); padding-top: 7px; text-decoration: none; }
a.bodystyle:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 0, 0); padding-top: 7px; text-decoration: underline; }
.small { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: rgb(236, 58, 64); line-height: 9px; }
a.small:link, a.small:visited, a.small:active { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; color: rgb(237, 16, 102); }
a.small:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; }
.medium { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 91, 166); font-weight: bold; }
a.medium:link, a.medium:visited, a.medium:active { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: rgb(0, 91, 166); }
a.medium:hover { font-family: Verdana, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); text-decoration: underline; }
.medium-h { color: rgb(237, 16, 102); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: 15px; }
.t-orders th { padding: 10px 0px; }
.message-inn { border: 1px dashed rgb(237, 16, 102); display: block; height: 30px; margin-left: 10px; padding: 10px 0px 10px 22px; width: 430px; }
.message-inn2 { border: 1px dashed rgb(237, 16, 102); display: block; height: 65px; margin-left: 10px; padding: 10px 0px 10px 22px; width: 430px; }
.input-count { width: 50px; height: 30px; }
.big { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(0, 0, 0); font-weight: normal; }
.xbig { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(237, 16, 102); font-weight: normal; }
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(237, 16, 102); padding: 0px; margin: 0px; font-weight: normal; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(237, 16, 102); padding: 0px; margin: 0px; font-weight: bold; line-height: 15px; }
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: rgb(0, 91, 166); font-weight: bold; padding-bottom: 3px; margin: 0px; line-height: 15px; }
.expanded { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 24px; letter-spacing: 2px; }
.justified { font-family: Arial, Helvetica, sans-serif; text-align: justify; }
.atten { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(204, 0, 0); }
.box1 { padding: 3px; border-width: medium; border-style: solid; border-color: rgb(204, 204, 204) rgb(102, 102, 102) rgb(102, 102, 102) rgb(204, 204, 204); }
.box2 { font-style: italic; word-spacing: 2pt; padding: 3px; border: 1px solid; }
.medium-w { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(185, 209, 220); font-weight: normal; }
a.medium-w:link, a.medium-w:visited, a.medium-w:active { color: rgb(185, 209, 220); font-weight: normal; text-decoration: none; }
a.medium-w:hover { color: rgb(185, 209, 220); font-weight: normal; text-decoration: underline; }
.medium-w5 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(252, 255, 209); font-weight: normal; }
a.medium-w5:link, a.medium-w5:visited, a.medium-w5:active { color: rgb(252, 255, 209); font-weight: normal; text-decoration: none; }
a.medium-w5:hover { color: rgb(252, 255, 209); font-weight: normal; text-decoration: underline; }
.xbig2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(0, 0, 0); font-weight: normal; }
.bodystyle2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: rgb(0, 0, 0); font-weight: normal; }
#fullSrch { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: rgb(255, 255, 255); font-weight: normal; }
.bodystyle-input-search { border: 1px solid rgb(237, 16, 102); border-radius: 5px 0px 0px 5px; color: rgb(0, 0, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; padding: 0px 0px 0px 10px; height: 35px; width: 195px; }
.bodystyle-input { border: 1px solid rgb(224, 224, 224); border-radius: 5px; color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; padding: 5px; }
.bodystyle1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: rgb(0, 0, 0); font-weight: normal; }
a.bodystyle1:link, a.bodystyle1:visited, a.bodystyle1:active { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: rgb(49, 91, 172); padding-top: 7px; text-decoration: none; font-weight: normal; }
a.bodystyle1:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: rgb(0, 0, 0); padding-top: 7px; text-decoration: none; font-weight: normal; }
.medium2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(255, 255, 255); font-weight: normal; line-height: 15px; }
a.medium2:link, a.medium2:visited, a.medium2:active { font-family: Verdana, Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); font-weight: normal; text-decoration: none; }
a.medium2:hover { color: rgb(255, 255, 255); font-weight: normal; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; }
.medium-w2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(237, 16, 102); font-weight: normal; line-height: 15px; }
a.medium-w2:link, a.medium-w2:visited, a.medium-w2:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(237, 16, 102); font-weight: normal; text-decoration: none; }
a.medium-w2:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(0, 0, 0); font-weight: normal; text-decoration: none; }
.medium-w3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 91, 166); font-weight: normal; line-height: 15px; }
a.medium-w3:link, a.medium-w3:visited, a.medium-w3:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(102, 102, 102); font-weight: normal; text-decoration: none; }
a.medium-w3:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: underline; }
.medium-w31 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 91, 166); font-weight: bold; line-height: 15px; }
a.medium-w31:link, a.medium-w31:visited, a.medium-w31:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(0, 91, 166); font-weight: bold; text-decoration: none; }
a.medium-w31:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(0, 91, 166); font-weight: bold; text-decoration: underline; }
.medium-w21 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(0, 91, 166); font-weight: normal; line-height: 15px; }
a.medium-w21:link, a.medium-w21:visited, a.medium-w21:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(0, 91, 166); font-weight: normal; text-decoration: none; }
a.medium-w21:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: rgb(0, 0, 0); font-weight: normal; text-decoration: none; }
.medium-w211 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(237, 16, 102); font-weight: bold; line-height: 15px; }
a.medium-w211:link, a.medium-w211:visited, a.medium-w211:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(237, 16, 102); font-weight: bold; text-decoration: underline; }
a.medium-w211:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(237, 16, 102); font-weight: bold; text-decoration: none; }
.medium-w4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: rgb(0, 91, 166); font-weight: bold; padding-bottom: 3px; line-height: 15px; }
.mail_man { font-size: 12px; color: rgb(0, 91, 166); text-decoration: none; }
.name_cols { font-size: 11px; font-family: Time, Arial, Tahoma, Verdana; color: blue; }
.td_cols { font-size: 10px; font-family: Time, Arial, Tahoma, Verdana; color: rgb(128, 128, 128); }
hr { border: none; color: silver; background-color: silver; height: 1px; }
.item { float: left; width: 177px; height: 300px; margin: 0px 5px 5px 0px; padding: 12px; border: 1px solid rgb(208, 208, 208); }
.item .img { display: table-cell; height: 150px; overflow: hidden; text-align: center; vertical-align: middle; width: 177px; }
.item .img .middle { margin: 0px; }
.item .desc { float: left; clear: both; width: 100%; height: 33px; margin: 12px 0px 0px; font-size: 13px; color: rgb(82, 82, 82); overflow: hidden; }
item .desc a { color: rgb(7, 82, 170); }
.item .art { float: left; clear: both; width: 100%; margin: 4px 0px 0px; }
.item .price { float: left; clear: both; width: 177px; margin: 3px 0px 0px; font-size: 12px; font-weight: normal; color: rgb(196, 36, 48); }
.item .ws-price { float: left; clear: both; width: 100%; margin: 4px 0px 0px; font-size: 12px; color: rgb(82, 82, 82); }
.item .ws-price a { color: rgb(7, 82, 170); }
.item .order { float: left; clear: both; width: 100%; margin: 20px 0px 9px; }
.item .order input.amount { float: left; width: 24px; height: 16px; padding: 2px 2px 0px; border: 1px solid rgb(164, 164, 164); font-family: Tahoma, serif; font-size: 12px; line-height: 18px; color: rgb(82, 82, 82); }
.item .order a { float: left; width: 89px; height: 17px; margin: 0px 0px 0px 10px; padding: 3px 0px 0px; background: url("") left top no-repeat rgb(231, 231, 230); text-align: center; font-size: 12px; font-weight: bold; color: rgb(82, 82, 82); text-decoration: none; }
.item .order a:hover { }
.oprosnik_item { float: left; width: 177px; height: 220px; margin: 0px 5px 5px 0px; padding: 12px; border: 1px solid rgb(208, 208, 208); }
.oprosnik_item .img { display: table-cell; height: 150px; overflow: hidden; text-align: center; vertical-align: middle; width: 177px; }
.item .img .middle { margin: 0px; }
.oprosnik_item .desc { float: left; clear: both; width: 100%; height: 33px; margin: 12px 0px 0px; font-size: 13px; color: rgb(82, 82, 82); overflow: hidden; }
item .desc a { color: rgb(7, 82, 170); }
.oprosnik_item .art { float: left; clear: both; width: 100%; margin: 4px 0px 0px; height: 33px; overflow: hidden; }
.oprosnik_item .price { float: left; clear: both; width: 177px; margin: 3px 0px 0px; font-size: 11px; line-height: 0px; font-weight: normal; color: rgb(196, 36, 48); }
.oprosnik_item .ws-price { float: left; clear: both; width: 100%; margin: 4px 0px 0px; font-size: 12px; color: rgb(82, 82, 82); }
.item .ws-price a { color: rgb(7, 82, 170); }
.oprosnik_item .order { float: left; clear: both; width: 100%; margin: 20px 0px 9px; }
.oprosnik_item .order input.amount { float: left; width: 24px; height: 16px; padding: 2px 2px 0px; border: 1px solid rgb(164, 164, 164); font-family: Tahoma, serif; font-size: 12px; line-height: 18px; color: rgb(82, 82, 82); }
.oprosnik_item .order a { float: left; width: 89px; height: 17px; margin: 0px 0px 0px 10px; padding: 3px 0px 0px; background: url("") left top no-repeat rgb(231, 231, 230); text-align: center; font-size: 12px; font-weight: bold; color: rgb(82, 82, 82); text-decoration: none; }
.oprosnik_item .order a:hover { }
.footer_cmp { width: 170px; float: left; margin: 0px; padding: 0px 10px; }
#new_top_menu { width: 950px; height: 18px; float: right; }
#new_top_menu a { text-decoration: none; }
#new_top_menu div { height: 28px; float: left; text-align: center; }
.hr_line { width: 100%; height: 2px; margin: 3px 0px 10px; background-color: rgb(237, 16, 102); clear: both; }
.hr_line1 { width: 100%; height: 1px; margin: 3px 0px 10px; background-color: rgb(237, 16, 102); clear: both; }
#reg_form_table input[type="text"], input[type="checkbox"], select { border: 1px solid rgb(224, 224, 224); border-radius: 5px; color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; padding: 5px; }
#reg_form_table input[type="text"]:focus, input[type="checkbox"]:focus, select:focus { }
#reg_form_table input[type="text"]:focus, input[type="checkbox"]:focus, select:focus { color: rgb(102, 102, 102); }
.sgrp_list_one_img img { }
.hide623 { display: none; }
.franch_type_1 { display: none; }
.d3h { float: left; width: 100%; list-style: none; font-weight: bold; margin-bottom: 10px; margin-left: -40px !important; }
.d3h li { float: left; margin-right: 10px; position: relative; display: block; }
.d3h li a { display: block; padding: 5px; color: rgb(228, 36, 107); text-decoration: none; }
.d3h li a:hover { color: rgb(255, 255, 255); cursor: default; }
.d3h ul { list-style: none; position: absolute; left: -9999px; opacity: 0; transition: opacity 0.25s linear 0s; z-index: 999; }
.d3h ul li { padding-top: 0px; float: none; background: url(""); z-index: 999; margin-left: -40px !important; }
.d3h ul a { white-space: nowrap; display: block; z-index: 999; }
.d3h li:hover ul { left: 0px; opacity: 1; z-index: 999; cursor: default; }
.d3h li:hover a { background: rgb(228, 36, 107); z-index: 999; color: rgb(255, 255, 255); cursor: default; }
.d3h li:hover ul a { text-decoration: none; transition: -webkit-transform 0.075s linear 0s; z-index: 999; cursor: default; }
.d3h li:hover ul li a:hover { z-index: 999; cursor: default; }
.d4h ul li { width: 200px; }
#nevidno { border: 1px solid rgb(0, 0, 0); }
.myh2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 91, 166); padding: 0px; margin: 0px; font-weight: bold; line-height: 15px; }
.simple-little-table { font-family: Arial, Helvetica, sans-serif; color: rgb(102, 102, 102); font-size: 12px; margin: 0px; border: 1px solid rgb(224, 224, 224); border-collapse: separate; border-radius: 5px; }
.simple-little-table th { font-weight: bold; padding: 3px 8px 5px; border-bottom: 1px solid rgb(224, 224, 224); background: rgb(228, 228, 228); }
.simple-little-table th:first-child { text-align: center; }
.simple-little-table tr:first-child th:first-child { border-top-left-radius: 3px; }
.simple-little-table tr:first-child th:last-child { border-top-right-radius: 3px; }
.simple-little-table tr { text-align: center; padding-left: 0px; }
.simple-little-table tr td:first-child { }
.simple-little-table tr td { padding: 8px; border-bottom: 1px solid rgb(224, 224, 224); }
.simple-little-table tr:nth-child(2n) td { }
.simple-little-table tr:last-child td { border-bottom: 0px; }
.simple-little-table tr:last-child td:first-child { border-bottom-left-radius: 3px; }
.simple-little-table tr:last-child td:last-child { border-bottom-right-radius: 3px; }
.simple-little-table a:link { color: rgb(102, 102, 102); font-weight: bold; text-decoration: none; }
.simple-little-table a:visited { color: rgb(153, 153, 153); font-weight: bold; text-decoration: none; }
.simple-little-table a:active { color: rgb(189, 90, 53); text-decoration: underline; }
.simple-little-table-top { vertical-align: top; padding-top: 4px; color: rgb(102, 102, 102); }
.simple-little-table-span { font-size: 10px; font-weight: normal; }
.simple-little-table-name-goods { overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 160px; }
.lk-dolg-message { border: 1px solid rgb(224, 224, 224); border-radius: 5px; display: block; padding: 10px; color: rgb(102, 102, 102); margin: 0px 0px 10px; position: relative; }
.lk-dolg-message > img { bottom: 10px; position: absolute; right: 10px; }
.lk-dolg-message a { color: rgb(102, 102, 102); }
.lk-button-new-after { border: 1px solid rgb(237, 16, 102); border-radius: 5px; background: rgb(255, 255, 255); color: rgb(237, 16, 102); display: inline-block; padding: 10px 35px 10px 20px; text-align: center; text-decoration: none; margin-right: 10px; cursor: pointer; transition: all 0.2s linear 0s; text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.lk-button-new-after:hover { background: rgb(237, 16, 102); color: rgb(255, 255, 255); }
.lk-button-new-after::after { content: "›"; display: inline-block; font-size: 200%; margin-left: 10px; margin-top: -9px; position: absolute; }
.lk-button-new { background: none 0px 0px repeat scroll rgb(255, 255, 255); border: 1px solid rgb(237, 16, 102); border-radius: 5px; color: rgb(237, 16, 102); cursor: pointer; display: inline-block; margin-right: 10px; padding: 10px 20px; text-align: center; text-decoration: none; text-transform: uppercase; transition: all 0.2s linear 0s; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.lk-button-new:hover { background: rgb(237, 16, 102); color: rgb(255, 255, 255); }
.lk-button-new.disabled { color: rgb(204, 204, 204); border-color: rgb(204, 204, 204); background: white; }
.lk-button { background: linear-gradient(rgb(251, 251, 251), rgb(225, 225, 225)) 0px 0px repeat scroll rgba(0, 0, 0, 0); border: 1px solid rgb(212, 212, 212); box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px 1px 2px; color: rgb(102, 102, 102); display: inline-block; font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 12px; font-weight: 300; height: 32px; line-height: 30px; margin: 0px 10px 0px 0px; padding: 0px 25.6px; text-align: center; text-decoration: none; text-shadow: rgb(255, 255, 255) 0px 1px 1px; vertical-align: middle; }
.lk-button.active, .lk-button.is-active, .lk-button:active, .lk-button:focus, .lk-button:hover { text-decoration: none; }
.lk-button:focus, .lk-button:hover { background: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220)) 0px 0px repeat scroll rgba(0, 0, 0, 0); color: rgb(102, 102, 102); }
.lk-button.active, .lk-button.is-active, .lk-button:active { background: none 0px 0px repeat scroll rgb(238, 238, 238); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px inset, rgb(255, 255, 255) 0px 1px 0px; color: rgb(187, 187, 187); text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px; }
.lk-button:focus { outline: none 0px; }
a.medium-button { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; user-select: none; background: rgb(125, 181, 0); padding: 0.7em 1.5em; outline: none; margin: 10px; }
a.medium-button:hover { font-family: Verdana, Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); background: rgb(143, 207, 0); }
a.medium-button:active { background: rgb(118, 163, 18); color: rgb(72, 105, 0); }
.lk-order { margin-top: 40px; }
.shipping-address { border: 1px solid rgb(224, 224, 224); border-radius: 5px; display: block; padding: 10px; margin-top: 15px; color: rgb(102, 102, 102); width: 680px; }
.shipping-address-icon { background: url("") right center no-repeat scroll whitesmoke; height: 45px; }
.shipping-address details summary { text-decoration: underline; cursor: pointer; }
.shipping-address ul { display: inline-block; }
.shipping-address ul li { float: left; list-style-type: none; width: 300px; }
.tooltip-city { color: rgb(102, 102, 102); outline: none; cursor: help; text-decoration: none; position: relative; }
.tooltip-city span { margin-left: -999em; position: absolute; color: rgb(255, 255, 255); }
.tooltip-city:hover span { border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.1) 5px 5px; font-family: Calibri, Tahoma, Geneva, sans-serif; position: absolute; left: 0em; top: -5em; z-index: 99; margin-left: 0px; width: 220px; }
.classic { padding: 0.8em 1em; border-radius: 4px; background-color: black; opacity: 0.7; }
.goods-name-table { overflow: hidden; text-overflow: ellipsis; width: 240px; }
.excel-download-price::before { content: ""; display: block; background: url("") no-repeat; width: 17px; height: 17px; float: left; margin: 0px 6px 0px 0px; }
.getprice_new { color: rgb(136, 136, 136); font-size: 10px; }
.getprice_new::before { content: ""; display: block; background: url("") no-repeat; width: 16px; height: 16px; float: left; margin: 0px 6px 0px 0px; }
.button-goods-template { text-decoration: none; text-align: center; color: rgb(255, 255, 255); font-size: 13px; margin: 12px 0px; padding: 10px 0px 0px; width: 232px; height: 28px; border-radius: 5px; display: block; text-transform: uppercase; transition: all 0.1s linear 0s; }
.button-goods-template-2lines { text-decoration: none; text-align: center; color: rgb(255, 255, 255); font-size: 13px; margin: 12px 0px; padding: 6px 0px 4px; width: 232px; height: 28px; border-radius: 5px; display: block; text-transform: uppercase; transition: all 0.1s linear 0s; }
.button-goods-pink { background-color: rgb(228, 36, 107); }
.button-goods-pink:hover { background-color: rgb(255, 34, 116); }
.button-goods-pink:active { background-color: rgb(179, 20, 79); }
.button-goods-green { background-color: rgb(112, 191, 68); }
.button-goods-green:hover { background-color: rgb(121, 214, 70); }
.button-goods-green:active { background-color: rgb(79, 162, 33); }
.button-goods-blue { background-color: rgb(52, 185, 235); }
.button-goods-blue:hover { background-color: rgb(68, 203, 253); }
.button-goods-blue:active { background-color: rgb(39, 151, 193); }
.button-goods-turquoise { background-color: rgb(19, 168, 158); }
.button-goods-turquoise:hover { background-color: rgb(69, 201, 199); }
.button-goods-turquoise:active { background-color: rgb(10, 132, 124); }
.select-city-left-menu { appearance: none; background: url("") 210px 10px no-repeat scroll rgba(0, 0, 0, 0); border-radius: 5px; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; height: 30px; padding-left: 10px; width: 100%; cursor: pointer; }
.search-button { background: url("search-button.png"); float: right; border: 0px none; height: 35px; width: 35px; cursor: pointer; }
.search-button:hover { background-position: 0px -35px; }
.button-more { border: 1px solid rgb(237, 16, 102); border-radius: 5px; color: rgb(237, 16, 102); display: inline-block; padding: 10px 35px 10px 20px; text-align: center; text-decoration: none; transition: all 0.2s linear 0s; text-transform: uppercase; }
.button-more:hover { background: rgb(237, 16, 102); color: rgb(255, 255, 255); }
.button-more::after { content: "›"; display: inline-block; font-size: 200%; margin-left: 10px; margin-top: -9px; position: absolute; }
#mainHead { background: url("header1.png") left top no-repeat scroll rgb(255, 255, 255); height: 208px; width: 950px; font-family: "Myriad Pro"; }
#mainHead .headSelectCity { color: rgb(237, 16, 102); font-size: 17px; left: 286px; position: relative; top: 1px; display: none; }
#mainHead .headSelectCity a { color: rgb(237, 16, 102); text-decoration: underline; }
#mainHead .headSelectCity span { text-decoration: underline; margin-right: 5px; }
#mainHead_88-left { width: 617px; height: 160px; float: left; }
#mainHead_88-right { width: 333px; height: 160px; float: right; position: relative; }
#mainHead_88-right .mainHead_88-right-aut-form { width: 333px; height: 86px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter { font-family: "Myriad Pro"; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter .div-enter-lable { height: 30px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter .div-enter-lable a { color: rgb(237, 16, 102); font-size: 17px; text-decoration: underline; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter .div-enter-lable a.div-enter-88-a-left { float: left; margin: 2px 0px 0px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter .div-enter-lable a.div-enter-88-a-right { float: right; margin: 2px 72px 0px 0px; }
#mainHead_88-right .mainHead_88-right-aut-form .input-log-pawd { border: 2px solid rgb(237, 16, 102); color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; }
#mainHead_88-right .mainHead_88-right-aut-form .small-lable { color: rgb(237, 16, 102); font-size: 10px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter input[type="checkbox"] { display: none; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter input[type="checkbox"]:checked + label::before { content: "✓"; font-size: 10px; color: rgb(237, 16, 102); text-align: center; line-height: 13px; font-weight: bold; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter .small-lable label::before { border-radius: 10px; border: 2px solid rgb(237, 16, 102); }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter label::before { content: ""; display: inline-block; height: 13px; left: 0px; margin-right: 10px; position: absolute; width: 13px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter .checkbox label { margin-bottom: 10px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_enter label { cursor: pointer; display: inline-block; font-size: 10px; margin-right: 15px; padding: 3px 0px 0px 25px; position: relative; }
#mainHead_88-right .mainHead_88-right-aut-form #div_email { font-family: "Myriad Pro"; }
#mainHead_88-right .mainHead_88-right-aut-form #div_email .div-enter-lable { height: 30px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_email .div-enter-lable a { color: rgb(237, 16, 102); font-size: 17px; text-decoration: underline; }
#mainHead_88-right .mainHead_88-right-aut-form #div_email .div-enter-lable a.div-enter-88-a-left { float: left; margin: 2px 0px 0px; }
#mainHead_88-right .mainHead_88-right-aut-form #div_email .div-enter-lable a.div-enter-88-a-right { float: right; margin: 2px 72px 0px 0px; }
#mainHead_88-right #top-main-menu-icons { height: 39px; margin-top: 5px; }
#mainHead_88-right #top-main-menu-icons .top-menu-icon { display: inline-block; font-size: 13px; height: 35px; position: relative; top: 0px; cursor: pointer; }
#mainHead_88-right #top-main-menu-icons .top-menu-icon span { bottom: 0px; color: rgb(19, 168, 158); font-size: 13px; position: absolute; }
#mainHead_88-right #top-main-menu-icons .top-menu-icon-specsklad { background: url("") center top no-repeat scroll rgba(0, 0, 0, 0); width: 65px; }
#mainHead_88-right #top-main-menu-icons .top-menu-icon-recycle { background: url("") center top no-repeat scroll rgba(0, 0, 0, 0); width: 50px; margin-left: 42px; }
#mainHead_88-right #top-main-menu-icons .top-menu-icon-myroom { background: url("") center top no-repeat scroll rgba(0, 0, 0, 0); width: 40px; margin-left: 43px; }
#mainHead_88-right #top-main-menu-icons .top-menu-icon-exit { background: url("") center top no-repeat scroll rgba(0, 0, 0, 0); width: 35px; margin-left: 50px; }
#mainHead_88-right .mainHead_88-right-aut-form .aut-user-name-lable { color: rgb(237, 16, 102); font-size: 17px; font-family: "Myriad Pro"; text-align: right; }
#header-right-block { height: 20px; margin-top: 10px; }
#header-right-block .header-right-block-question { text-decoration: underline; color: rgb(19, 168, 158); font-family: "Myriad Pro"; font-weight: normal; float: left; }
#header-right-block .header-right-block-phone { background: url("header-right-block-phone.png") 14% 50% no-repeat scroll rgb(19, 168, 158); border-radius: 7px; color: rgb(255, 255, 255); display: inline; font-family: "Myriad Pro"; font-size: 14px; padding: 0px 35px 0px 47px; float: right; }
#new_top_menu_88 { clear: right; height: 38px; text-align: right; width: 950px; }
.lk-button-new-menu { background: rgb(19, 168, 158); border-radius: 5px; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font-family: "Myriad Pro"; font-size: 14px; margin-left: 10px; padding: 10px 13px; text-align: center; text-decoration: none; transition: all 0.2s linear 0s; }
.lk-button-new-menu:hover { background: rgb(69, 201, 199); color: rgb(255, 255, 255); }
#main-menu-right { background: rgb(19, 168, 158); padding: 15px 0px 25px; border-radius: 7px; }
.table-main-block { margin-top: 22px; width: 700px; }
#footer { background: url("footer-img.png") left bottom no-repeat scroll rgb(19, 168, 158); clear: both; color: rgb(255, 255, 255); font-family: "myriad pro"; font-size: 20px; font-weight: bold; height: 53px; margin-top: 40px; position: relative; width: 950px; }
#footer .footer-left-span { display: block; font-weight: bold; margin: 13px 0px 0px 310px; position: absolute; }
#footer .footer-right-span { display: block; margin: 13px 0px 0px 535px; position: absolute; }
#footer .footer-right-span::before { content: url("header-right-block-phone.png"); }
.image-zoom { transition: all 0.3s ease-out 0s; }
.image-zoom:hover { transform: scale(1.4); }
#banner-brand-block-top-700-357 { height: 357px; margin-top: 15px; }
#banner-brand-block-top-700-357 img { display: block; float: left; }
#banner-brand-block-top20170710 { height: 417px; margin-top: 15px; display: none; visibility: hidden; }
#banner-brand-block-top20170710 img { display: block; float: left; }
#banner-brand-block div { margin-top: 15px; }
#banner-brand-block #banner-brand-block-world { height: 228px; }
#banner-brand-block #banner-brand-block-world img { display: block; float: left; }
#banner-brand-block #banner-brand-block-world img.brand-banner-1-1 { margin: 0px; }
#banner-brand-block #banner-brand-block-world img.brand-banner-1-2 { margin: 0px 7px 0px 8px; }
#banner-brand-block #banner-brand-block-world img.brand-banner-1-3 { float: left; }
#banner-brand-block #banner-brand-block-ru-cn { height: 90px; }
#banner-brand-block #banner-brand-block-ru-cn img { display: block; float: left; }
#banner-brand-block #banner-brand-block-polesie { }
#banner-brand-block #banner-brand-block-stm-brands { height: 75px; }
#agregator-banner-right { position: relative; }
#agregator-banner-right div { width: 234px; height: 80px; position: absolute; right: -234px; top: 0px; }
#agregator-banner-right img { width: 234px; height: 80px; }
.agregator-access { color: rgb(102, 102, 102); font-family: futura, sans-serif; font-weight: 500; padding: 20px 25px; border: 2px solid rgb(19, 168, 158); border-radius: 5px; text-align: center; text-transform: uppercase; font-size: 12px; }
.agregator-access a, .agregator-descr a { font-family: futura, sans-serif; font-weight: 500; color: rgb(102, 102, 102); text-decoration: none; border-bottom: 2px solid rgb(237, 16, 102); text-transform: uppercase; }
.agregator-descr { color: rgb(102, 102, 102); font-family: futura, sans-serif; font-weight: 500; padding: 25px; margin-top: 15px; border: 2px solid rgb(19, 168, 158); border-radius: 5px; text-align: justify; }
.agregator-descr p span { color: rgb(19, 168, 158); font-size: 12px; text-transform: uppercase; }
.agregator-descr .agregator-descr-pink { color: rgb(237, 16, 102); }
.agregator-descr img { display: block; margin: 0px auto; width: 300px; }
.warning-message20170501 { background-color: rgb(237, 16, 102); color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center; display: none; }
.information-message { border: 1px solid rgb(224, 224, 224); color: rgb(237, 16, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px; border-radius: 5px; }
.top-warning-message { text-align: center; background: red; color: white; font-size: 20px; height: 50px; display: none; }
.access-message { border: 1px solid rgb(224, 224, 224); border-radius: 5px; display: block; color: rgb(102, 102, 102); margin: 0px 0px 10px; position: relative; text-align: center; padding: 20px 0px; }
.recycle-btn { margin-bottom: 15px; clear: both; }
.form-open-shop { border: 1px dashed rgb(19, 168, 158); border-radius: 5px; color: rgb(19, 168, 158); font-size: 14px; margin-top: 10px; padding: 10px 20px; position: relative; }
.form-open-shop .exclamation-mark-icon { background: rgb(19, 168, 158); border-radius: 15px; color: white; display: block; font-family: verdana; font-size: 17px; font-weight: bold; height: 17px; left: -10px; padding: 0px 3px 5px; position: absolute; text-align: center; top: -10px; vertical-align: top; width: 17px; }
.form-open-shop table tr td { color: rgb(19, 168, 158); }
.form-open-shop table input { border: 1px solid rgb(19, 168, 158); padding: 3px; }
.form-open-shop table textarea { border: 1px solid rgb(19, 168, 158); }
.form-open-shop-after { font-size: 14px; margin-top: 30px; text-align: center; }
.form-open-shop-after span { color: rgb(237, 16, 102); }
.open-shop-block { border: 1px dashed rgb(19, 168, 158); border-radius: 5px; color: rgb(102, 102, 102); font-size: 14px; margin: 10px; padding: 10px; position: relative; }
.open-shop-block .exclamation-mark-icon { background: rgb(19, 168, 158); border-radius: 15px; color: white; display: block; font-family: verdana; font-size: 17px; font-weight: bold; height: 17px; left: -10px; padding: 0px 3px 5px; position: absolute; text-align: center; top: -10px; vertical-align: top; width: 17px; }
.open-shop-block ul li { color: rgb(19, 168, 158); }
.open-shop-block ul li span { color: rgb(102, 102, 102); }
.bottom-2-0 { border: 1px solid rgb(228, 36, 107); border-radius: 5px; background: white; color: rgb(228, 36, 107); cursor: pointer; display: block; height: 35px; line-height: 35px; text-align: center; text-decoration: none; text-transform: uppercase; transition: all 0.2s linear 0s; width: 150px; }
.bottom-2-0:hover { background: none 0px 0px repeat scroll rgb(228, 36, 107); color: white; }
.bottom-2-0-turquoise { border-radius: 3px; color: white; cursor: pointer; background: rgb(19, 168, 158); display: block; font-size: 12px; height: 30px; line-height: 30px; text-align: center; text-decoration: none; text-transform: uppercase; transition: all 0.2s linear 0s; width: 225px; }
.bottom-2-0-turquoise:hover { background: rgb(69, 201, 199); }
.bottom-2-0-orange { border-radius: 3px; color: white; cursor: pointer; background: rgb(252, 179, 21); display: block; font-size: 12px; height: 30px; line-height: 30px; text-align: center; text-decoration: none; text-transform: uppercase; transition: all 0.2s linear 0s; width: 225px; }
.open-shop-marker { height: auto; margin-top: 25px; }
.open-shop-marker ul { float: left; }
.open-shop-marker ul li { color: rgb(19, 168, 158); font-size: 12px; }
.open-shop-marker ul li span { color: rgb(102, 102, 102); }
#social-icons-block { padding-right: 20px; height: 53px; }
#social-icons-block a { display: inline-block; margin: 7px 5px; width: 34px; height: 33px; float: right; }
#social-icons-block .social-icons-block-img-vk { background: url("social-icons-block-vk1.png"); }
#social-icons-block .social-icons-block-img-vk:hover { background-position: 0px -33px; }
#social-icons-block .social-icons-block-img-ok { background: url("social-icons-block-ok1.png"); }
#social-icons-block .social-icons-block-img-ok:hover { background-position: 0px -33px; }
#social-icons-block .social-icons-block-img-f { background: url("social-icons-block-f1.png"); }
#social-icons-block .social-icons-block-img-f:hover { background-position: 0px -33px; }
.b-top { z-index: 2600; position: fixed; left: 0px; bottom: 20px; width: 34%; margin-left: 50%; opacity: 0.5; }
.b-top:hover { opacity: 1; cursor: pointer; }
.b-top-but { z-index: 2600; position: absolute; display: block; left: 56px; bottom: 0px; margin: 0px 0px 0px 100%; padding: 32px 12px 4px; color: white; background: url("b-j-top.png") 50% 11px no-repeat rgb(102, 102, 102); border-radius: 7px; }
.news-section { margin-bottom: 15px; clear: both; }
.news-section-btm { background: none 0px 0px repeat scroll rgb(255, 255, 255); border: 1px solid rgb(237, 16, 102); border-radius: 5px; color: rgb(237, 16, 102); display: inline-block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; height: 35px; line-height: 35px; margin: 5px; text-align: center; text-decoration: none; text-transform: uppercase; transition: all 0.2s linear 0s; width: 335px; }
.news-section-btm:hover { background: rgb(237, 16, 102); color: white; }
.news-block-item { color: rgb(102, 102, 102); margin: 15px 0px; border: 1px solid rgb(224, 224, 224); padding: 10px; border-radius: 5px; }
.news-date { margin-bottom: 10px; }
.news-date span { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(102, 102, 102); }
.news-title { color: rgb(237, 16, 102); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 15px; margin: 0px; padding: 0px; }
.news-block { }
.news-block tr td { position: relative; }
.news-block .news-block-descr { padding-bottom: 35px; color: rgb(102, 102, 102); text-align: justify; margin-top: 10px; }
.news-block .news-block-descr img { margin: 0px; padding: 0px 10px 10px 0px; }
.news-block .news-block-descr a { color: rgb(237, 16, 102); }
.news-block a.readmore { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(102, 102, 102); text-decoration: none; display: block; width: 100px; height: 30px; text-align: center; line-height: 30px; position: absolute; bottom: 5px; right: 5px; border: 1px solid rgb(224, 224, 224); border-radius: 5px; transition: all 0.1s linear 0s; }
.news-block a.readmore:hover { color: white; background: rgb(237, 16, 102); }
.news-navigate { padding: 15px 0px; }
.news-navigate a { color: rgb(102, 102, 102); font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding: 2px 4px; text-align: center; text-decoration: none; }
.news-navigate a span.news-navigate-active { background: none 0px 0px repeat scroll silver; border-radius: 25px; color: white; display: inline-block; height: 1.3em; padding: 5px; width: 1.3em; }
@font-face { font-family: futura; src: url("futura-bold.eot") format("embedded-opentype"), url("futura-bold.woff") format("woff"), url("futura-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.hr_grey { height: 2px; margin: 3px 0px 10px 42px; background-color: rgb(102, 102, 102); }
.opt-pages { color: rgb(102, 102, 102); }
.opt-pages .opt-p-caption { margin-top: 30px; }
.opt-pages .opt-p-caption h2 { color: rgb(102, 102, 102); font-family: futura, sans-serif; font-weight: 500; font-size: 16px; text-transform: uppercase; padding-top: 10px; }
.opt-pages .opt-p-caption img { float: left; margin-right: 10px; }
.opt-pages .opt-content { margin-left: 40px; }
.opt-pages .opt-table-sale table { border-collapse: collapse; width: 370px; margin-top: 25px; }
.opt-pages .opt-table-sale table td { border: 2px solid rgb(19, 168, 158); font-family: futura, sans-serif; color: rgb(102, 102, 102); font-size: 16px; font-weight: 500; line-height: 28px; }
.opt-pages .opt-table-sale table td.opt-table-sale-th { border: 2px solid rgb(19, 168, 158); font-family: futura, sans-serif; text-transform: uppercase; color: rgb(19, 168, 158); font-size: 16px; font-weight: 500; line-height: 22px; text-align: center; }
.opt-pages .opt-table-sale table td.opt-table-sale-td1 { padding-left: 15px; }
.opt-pages .opt-table-sale table td.opt-table-sale-td2 { padding-left: 60px; color: rgb(237, 16, 102); }
.opt-pages .opt-table-sale table td.opt-table-sale-td3 { color: rgb(19, 168, 158); padding-left: 15px; }
.opt-pages .opt-link { font-family: futura, sans-serif; font-weight: 500; color: rgb(102, 102, 102); font-size: 12px; text-decoration: none; text-transform: uppercase; }
.opt-pages .opt-link-pink { border-bottom: 2px solid rgb(237, 16, 102); }
.opt-pages .opt-link-turquoise { border-bottom: 2px solid rgb(19, 168, 158); margin: 0px 15px; }
.opt-pages .opt-p-service { text-align: center; }
.opt-pages .opt-p-service ul { overflow: hidden; margin: 0px; padding: 15px; display: inline-block; }
.opt-pages .opt-p-service ul li { font-family: futura, sans-serif; font-weight: 500; color: rgb(102, 102, 102); font-size: 12px; text-transform: uppercase; text-align: center; list-style-type: none; float: left; width: 130px; position: relative; }
.opt-pages .opt-p-service .history-namber li p { margin-top: 0px; }
.opt-pages .opt-p-descr { padding: 10px 25px 20px; border: 2px solid rgb(19, 168, 158); border-radius: 5px; }
.opt-pages .opt-p-descr h3 { font-family: futura, sans-serif; font-weight: 500; color: rgb(19, 168, 158); font-size: 12px; text-transform: uppercase; padding-top: 10px; margin-left: 20px; }
.opt-pages .opt-p-descr ul { padding: 0px; margin: 0px 0px 0px 15px; }
.opt-pages .opt-p-descr ul li { color: rgb(19, 168, 158); }
.opt-pages .opt-p-descr ul li span { color: rgb(102, 102, 102); }
.opt-pages .opt-p-pay { text-align: center; }
.opt-pages .opt-p-pay ul { overflow: hidden; margin: 0px; padding: 15px; display: inline-block; }
.opt-pages .opt-p-pay ul li { font-family: futura, sans-serif; font-weight: 500; color: rgb(19, 168, 158); font-size: 12px; text-transform: uppercase; text-align: center; list-style-type: none; float: left; padding: 0px 30px; }
.opt-p-services ul { list-style: none; }
.opt-p-services ul li { padding-left: 20px; position: relative; margin: 5px; }
.opt-p-services ul li::before { content: "✔"; position: absolute; top: 0px; left: 0px; color: rgb(237, 16, 102); font-weight: bold; }
.opt-p-docs { width: 400px; margin: auto; color: rgb(19, 168, 158); font-size: 15px; }
.opt-p-docs table tr td { padding: 10px 15px; text-align: center; font-weight: bold; color: rgb(19, 168, 158); }
.opt-p-docs ul { padding: 0px; margin: 0px; text-align: left; }
.opt-p-docs ul li { }
.opt-p-docs ul li span { color: rgb(102, 102, 102); }
.opt-order { color: rgb(237, 16, 102); font-size: 12px; }
.opt-order p { margin-left: 40px; font-size: 12px; }
.opt-order ul li span { color: rgb(102, 102, 102); }
.opt-p-refund p span { color: rgb(237, 16, 102); }
.page-title-block { margin: 25px 0px 10px; }
.page-title { font-family: futura, sans-serif; font-weight: 500; color: rgb(237, 16, 102); font-size: 20px; text-transform: uppercase; text-align: center; }
.inbegemot { margin: 8px 0px 0px 55px; }
.inbegemot label { position: relative; }
.inbegemot input[type="checkbox"] { display: none; }
.inbegemot span::before, .inbegemot span::after { content: ""; position: absolute; top: 0px; bottom: 0px; margin: auto; }
.inbegemot span.s-checkbox:hover { cursor: pointer; }
.inbegemot span.s-checkbox::before { left: -52px; width: 45px; height: 25px; background-color: rgb(208, 208, 208); border-radius: 50px; }
.inbegemot span.s-checkbox::after { left: -49px; width: 17px; height: 17px; border-radius: 10px; background-color: rgb(224, 224, 224); transition: left 0.25s ease 0s, background-color 0.25s ease 0s; }
input[type="checkbox"]:checked + label span.s-checkbox::after { left: -27px; background-color: rgb(255, 255, 255); }
.value { font-size: 12px; }
.value p { margin-left: 40px; }
.value p span { color: rgb(237, 16, 102); font-weight: bold; }
.history { font-size: 12px; margin-left: 40px; }
.history span { color: rgb(19, 168, 158); }
.history .c-advantages tr td { text-align: center; text-transform: uppercase; font-size: 10px; color: rgb(102, 102, 102); vertical-align: top; }
.history .c-advantages tr td.c-advantages-table-bord { border-right: 1px solid rgb(19, 168, 158); }
.history .c-advantages tr td img { margin: 10px 0px 5px; }
.history a { color: rgb(19, 168, 158); text-decoration: underline; font-weight: bold; }